<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <p><!-- *** TOPBAR ***
 _________________________________________________________ -->
    Note to Utpal : Pls use Light Box for large image<!-- *** NAVBAR END *** --></p>
    <p>For social sharing : FB, Google + Twitter, Whatsapp, Pinterest and Email</p>
    <div id="all">

        <div id="content">
            <div class="container white">
                <div class="col-md-12">
                    
                    <h4>LADIES</h4>
                    <hr>
                </div>
                
              <div class="col-md-3 hidden-xs hidden-sm hidden-md">
                    <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                  <!--Side Navbar-->
                  <div class="sidemenu">
                  <div class="sidemenutitle">CATEGORIES</div>
                
                    <div class="sidemenulist">
                      <ul>
                        <li><a href="category.html">MEN42</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Shirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                        <li><a href="category.html">LADIES123</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Skirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                        <li><a href="category.html">KIDS11</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Skirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    </div>
                <!--eof side navebar-->
                <div class="sidemenu">
                  <div class="sidemenutitle">BRANDS <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></div>
                
                    <div class="sidemenulist">
                                               <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Armani (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Versace (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Carlo Bruni (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Jack Honey (14)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>
                    
                    </div>
                </div>

                    
                    <div class="sidemenu">
                  <div class="sidemenutitle">Price Range <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></div>
                
                    <div class="sidemenulist">
                    Pls Add Price Slider range
                    </div>
                    </div>
  

                  <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">
                        <a href="#">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                   <div class="detailproducttitle">White Blouse Armani</div>
                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img src="img/detailbig1.jpg" alt="" class="img-responsive">
                            </div>

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                            <!--Img Thumbnails-->
                            <div class="row maindetailthumbs" id="thumbs">
                                <div class="col-xs-4">
                                    <a href="img/detailbig1.jpg" class="thumb">
                                        <img src="img/detailsquare.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="img/detailbig2.jpg" class="thumb">
                                        <img src="img/detailsquare2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="img/detailbig3.jpg" class="thumb">
                                        <img src="img/detailsquare3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>  <!--EOF Img Thumbnails-->

                        </div>
                        <div class="col-sm-6">
                          <div class="box">
                          <!--social sharing-->
                          <div class="social">
                                <h4>Share it :</h4> (with icons like below part : FB, Google + Twitter, Whatsapp, Pinterest and Email
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div>
                          <!--Eof Social Sharing-->
                                <div class="detailproducttitle">White Blouse Armani</div>
                              <p class="price">Rp 124,000</p>
                              <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                              </div>
                              
                              If user is not login or registered , please hide "ADD TO YOUR WISHLIST" and ADD TO YOUR WISHLIST" Section. Add a Register or Login Button : <a href="#"data-toggle="modal" class="btn btn-info" data-target="#login-modal">Login | Register</a>
                             
                             --HIDE THIS SECTION IF USER IS NOT REGISTERED / LOGIN--
                              <h5>ADD TO YOUR WISHLIST </h5>
                              <div class="listform">
                                <select name="Wishlist" id="Wishlist" class="form-control">
                                    <option selected>Select Your Wishlist</option>
                                    <option>+ Create New Wishlist</option>
                                    <option>Ricky &amp; Alvina Wedding</option>
                                    <option>My 30th Birthday</option>
                                </select> 
                                </div>
                                 <form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="quantity">Quantity</label>
    <div class="input-group">
      <div class="input-group-addon">Qty</div>
     <select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
     
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-heart"></i> Add to wishlist</button>
  </div>
  
</form>
                             
                              <hr>
                              <h5>OR, BUY THIS FOR</h5>
                             <div class="listform">
                                <select name="Recipient List" id="Recipient List" class="form-control">
                                    <option selected>Select Your Wishlist</option>
                                    <option>For a Friend</option>
                                    <option>Ricky &amp; Alvina Wedding</option>
                                    <option>My 30th Birthday</option>
                                    <option>For myself</option>
                                </select>
                             </div>
                                 <form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="quantity">Quantity</label>
    <div class="input-group">
      <div class="input-group-addon">Qty</div>
     <select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
     
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Gift</button>
  </div>
  
</form>

-- EOF HIDE THIS SECTION IF USER IS NOT REGISTERED / LOGIN--
                            


                            </div>

                            
                        </div>
                        
                        <!--Product detail-->
                        
                        <div class="box" id="details">
                        <p>
                            <h4>Product details</h4>
                            <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                            <h4>Material & care</h4>
                            <ul>
                                <li>Polyester</li>
                                <li>Machine wash</li>
                            </ul>
                            <h4>Size & Fit</h4>
                            <ul>
                                <li>Regular fit</li>
                                <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                            </ul>

                            <blockquote>
                                <p><em>Note to Utpal : Pls use Light Box for large image
                                    <br>
                                For social sharing : FB, Google + Twitter, Whatsapp, Pinterest and Email</em>
                                </p>
                            </blockquote>

                            <hr>
                            <div class="social">
                                <h4>Share it to your friends</h4>
                                <p>
                                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                                </p>
                            </div>
                    </div>
                        <!--EOF Product Details-->
                        
                        <!--Product Recomendation-->
                        
                                            <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>
                        
                        <!--EOF Product Recomendation-->
                        
                        <!--Product Recently Viewed-->
                        <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>Products viewed recently</h3>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>
                        <!--EOF Product Recently Viewed-->

                    </div>

                    </div>

                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
  
      <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
      
      <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>