<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">

</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
 Utpal, Please remove this note : Pay attention to the script name : "Script Form" below . This template will be used both in modal and regular Create wishlist form

    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </a>
                     <div class="tabtittle"> Your Event</div>   
                    </li> 

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                               <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                        </a> 
                       <div class="tabtittle"> Personalize</div>  
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                        </a> 
                        <div class="tabtittle"> Ready !</div>
                    </li>
                </ul>
            </div>

<form role="form"> 
<div class="tab-content">
<div class="tab-pane active" role="tabpanel" id="step1">
<!--Titleheader--> 
<div class="Titleheader">
<span class="txt-header">YOUR EVENT</span>
<span class="line"></span>
</div>
<!--eof Titleheader-->
<div class="row">
<div class="col-md-6 listField"><input name="Wishlist Name" type="text" value="Your Wishlist Name" class="form-control"></div>
<div class="col-md-3 listField"><select name="Event Category" class="form-control">
  <option selected>Event Category</option>
  <option>Birthday</option>
  <option>Baby Shower</option>
  <option>Wedding</option>
  <option>Engagement</option>
  <option>Anniversary</option>
  <option>Graduation</option>
  <option>House Warming</option>
  <option>Personal</option>
  <option>Others</option>
</select>
</div>
</div>  
<div class="row">                                          
<div class="col-md-6 listField">EVENT DATE :<br>
-- Insert calendar field here ---
</div>
<div class="col-md-6 listField">EVENT END DATE :  <button type="button" class="btn btn-info btn-xs" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Max 60 days after Event Date">
 <i class="fa fa-question" aria-hidden="true"></i>
</button><br>
-- Insert calendar field here - Maximum Range 60 days from event date---</div>
</div>  
<p></p>                  
<div class="checkbox">
<label><h4> <input name="Cash Gift" type="checkbox" id="Cash Gift" checked>
Would you like to receive Cash Gift ?</h4></label>
<p>Cash Gift Fund can be used for anything<br>
<span class="text-danger">Contributed Gift that doesn't reach the total amount will be converted to cash gift.</span></p>
</div>
                      
<div class="row">  <!--form col 1-->
<div class="col-md-6">
<h4>Where Should Your Gift Be Sent ?</h4>
<div class="row">
<div class="col-xs-6 listform"> <input name="First Name" type="text" id="First Name" value="First Name" class="form-control"></div>
<div class="col-xs-6 listform"> <input name="Last Name" type="text" id="Last Name" value="Last Name" class="form-control"></div>
</div>
<div class="listform"><input name="Address" type="text" id="Address" value="Address" class="form-control"></div>                       
<div class="listform"><input name="Address2" type="text" id="Address2" value="Address Line 2" class="form-control"></div>
<div class="listform"><input name="Postcode" type="text" id="Postcode" value="Postcode" size="10" class="form-control"></div>
<div class="listform"><input name="Kecamatan" type="text" id="Kecamatan" value="Kecamatan" class="form-control"></div>
<div class="listform"><select name="City" id="City" class="form-control"><option value="" selected> --- City --- </option><option value="1507">Aceh</option><option value="1508">Bali</option><option value="1509">Banten</option><option value="1510">Bengkulu</option><option value="1511">BoDeTaBek</option><option value="1512">Gorontalo</option><option value="1513">Jakarta Raya</option><option value="1514">Jambi</option><option value="1515">Jawa Barat</option><option value="1516">Jawa Tengah</option><option value="1517">Jawa Timur</option><option value="1518">Kalimantan Barat</option><option value="1519">Kalimantan Selatan</option><option value="1520">Kalimantan Tengah</option><option value="1521">Kalimantan Timur</option><option value="1522">Kepulauan Bangka Belitung</option><option value="1523">Lampung</option><option value="1524">Maluku</option><option value="1525">Maluku Utara</option><option value="1526">Nusa Tenggara Barat</option><option value="1527">Nusa Tenggara Timur</option><option value="1528">Papua</option><option value="1529">Riau</option><option value="1530">Sulawesi Selatan</option><option value="1531">Sulawesi Tengah</option><option value="1532">Sulawesi Tenggara</option><option value="1533">Sulawesi Utara</option><option value="1534">Sumatera Barat</option><option value="1535">Sumatera Selatan</option><option value="1536">Sumatera Utara</option><option value="1537">Yogyakarta</option></select></div>
<div class="listform"><input name="Mobile" type="text" id="Mobile" value="Mobile +62 xxx..." maxlength="50" class="form-control"></div>

</div><!--form col 1-->

<!--form col 2-->
<div class="col-md-6">
<h4>Privacy</h4>
<div class="checkbox">
<label>
<input name="Wishlist Privacy" type="checkbox"  value="public" checked> Allow my wishlist to be <strong>Public</strong>
</label></div>

<div class="checkbox">
<label>                       
<input name="Shipping Privacy" type="checkbox" value="public"> Show my Shipping address (by default, it's hidden)
</label></div> 

<div class="checkbox">
<label>  
<input name="Visitor Password" type="checkbox" value="public"> Enable visitor's password 
<div class="formlist"><input name="visitor password" type="password" value="" maxlength="15" class="form-control"><span class="text-danger"> * <em>Password must be less than 15 chars </em> </span></div>
</label></div> 
<button type="button" class="btn btn-primary btn-lg next-step">Save and continue <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
<p>&nbsp; </p>
</div>
                        
</div></div><!--eof form col 2--> 
<!--eof Form Section 1-->
<!--Form Section 2-->
 <div class="tab-pane" role="tabpanel" id="step2">
<!--Titleheader--> 
<div class="Titleheader">
<span class="txt-header">PERSONALIZE</span>
<span class="line"></span>
</div>
<!--eof Titleheader-->

<div class="row">
<div class="col-md-4"><div class="listForm"><img src="img/ipengen_no_image.png" width="800" height="600" class="img-responsive img-rounded"></div></div>
<div class="col-md-8">
NOTE TO YOUR GUESTS (optional) : <br>
<div class="listForm"><textarea name="Guest Note" cols="" rows="3" class="form-control"></textarea>
<span class="text-danger"><em>RSVP info, Dress Code and etc. </em> </span></div>
<div class="listForm">EVENT DATE<br>
 -- Insert calendar field here ---</div>
<div class="listForm">EVENT ADDRESS (optional):<br>
<textarea name="Event Address" cols="" rows="3" class="form-control"></textarea></div>

<div class="listform">
<ul class="list-inline">
     <li class="listForm"><button type="button" class="btn btn-default prev-step">Previous</button></li>
     <li class="listForm"><button type="button" class="btn btn-info next-step">Skip, Do this later</button></li>
     <li class="listForm"><button type="button" class="btn btn-primary btn-info-full next-step">Save and Finish <i class="fa fa-angle-double-right" aria-hidden="true"></i></button></li>
     </ul> 
</div>    



</div><!--eof col md 12-->
</div>
</div>
</form>
<!--eof Form Section 2-->
<!--Form Section 3-->
<div class="tab-pane" role="tabpanel" id="complete">
<!--Titleheader--> 
<div class="Titleheader">
<span class="txt-header">ALMOST READY</span>
<span class="line"></span>
</div>
<!--eof Titleheader-->
 
<div class="row">
<div class="col-md-12">
<p class="text-center">Let's add wonderful items to your wishlist</p> 
<div class="listField text-center"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-heart" aria-hidden="true"></i> View My Wishlist</button>
<p></p></div>
<!--Titleheader--> 
<div class="Titleheader">
<span class="txt-header">BROWSE GIFT CATEGORIES</span>
<span class="line"></span>
</div>
<!--eof Titleheader-->
<div class="row">
<div class="col-xs-6">
List of categories with no bullet<br>
List of categories with no bullet<br>
List of categories with no bullet<br>
List of categories with no bullet
</div>
<div class="col-xs-6">
List of categories with no bullet<br>
List of categories with no bullet<br>
List of categories with no bullet<br>
List of categories with no bullet
</div>


</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div> <!-- /.container -->
</div> <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
 
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
       
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>

<!--Script Form-->

<script>
$(document).ready(function () {
  
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);
    
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}

$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>



</body>

</html>
