<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
<div id="content">
<div class="container white">

  <div class="col-md-6 ipengenblue hidden-xs hidden-sm">
  <div class="infobox text-center text-white">
    <p>&nbsp;</p>
    <p><img src="img/logo-small.png" width="142" height="50">      </p>
    <h4 class="text-white">Sign Up Now. </h3>
    <h4 class="text-white">Step inside the world of giving and receiving.  </h4>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><br>
    </p>
    <p>&nbsp;</p>
  </div>
  </div>
 
 
  <div class="col-md-6">
  <div class="infobox">
  <div class="listform">
  <h4>ALREADY REGISTERED  ? </h4>
  </div>  
  <div class="row">
    <div class="col-md-6">
    <div class="listform">
    <input name="email" type="text" id="email" value="Email Address" maxlength="100">
      </div>
     <div class="listform"> 
<input name="password" type="text" id="password" value="Password" maxlength="100">
     </div>
     <div class="listform">
<button type="button" class="btn btn-primary">Login</button> Forget Password ? </div>
    </div>
  <div class="col-md-6">
    <div class="listform">
    <img src="img/ZW4QC.png" width="202" height="46">
    </div></div>
</div>   
 <!--subtitle--> 
<div class="subTitle">
<span class="txt"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
<span class="line"></span>
</div>
<!--eof subtitle-->
<div class="listform"> 
 <h4>REGISTER WITH EMAIL </h4>
 </div>
    <div class="row">
  <div class="col-md-6">
 <div class="listform"><input name="email" type="text" id="email" value="Email Address" maxlength="100"> </div> 
 <div class="listform">
 <input name="password" type="text" id="password" value="Password" maxlength="100"> </div>
  </div>
  <div class="col-md-6">
 <div class="listform"><input name="First Name" type="text" id="First Name" value="First Name" size="30"></div>
 <div class="listform"><input name="Last Name" type="text" id="Last Name" value="Last Name" size="30"></div>
  </div>
  <div class="col-md-12">
  <div class="listform">
  <table width="100%" border="0" cellspacing="5" cellpadding="10">
  <tr>
    <td colspan="2" align="left" valign="middle"><h4>I WANT TO</h4>
    <div class="listform"> By joining, you agree to the <a href="#termscomndition">terms & conditions</a> of our website.</div></td>
    </tr>
  <tr>
    <td width="50%" align="left" valign="middle"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i> Create Wishlist</button> <button type="button" class="btn btn-info btn-lg"><i class="fa fa-gift" aria-hidden="true"></i> Buy Gifts</button></td>
</table>
  </div>
  
</div>
</div>
   
  </div>
  </div>



</div>
</div>
</body>
</html>
