<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<!-- *** NAVBAR END *** -->

 <div id="all">
        <div id="content">
            <div class="container white">
            <div class="row">
<!--Side Bar-->  <div class="col-md-3 nopadding">
<!--Original sidebar-->
<div class="nav-side-menu">
    <div class="brand"><table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td width="85" align="left" valign="middle"><img src="img/detailsquare.jpg" width="80" class="img-circle img-responsive userphoto"></td>
    <td align="left" valign="middle"> Hello, <strong>First Last Name</strong>    
</td>
  </tr>
</table></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-pencil fa-lg"></i> Create Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-heart fa-lg"></i> My Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-calendar fa-lg"></i>Event Reminder</a>
                  </li>
                  
                  <li class="active">
                  <a href="#">
                  <i class="fa fa-gift fa-lg"></i> My Surprise Box <span class="label label-danger">New</span></a>
                  </li>
                  
                  
                  <li  data-toggle="collapse" data-target="#cashgift" class="collapsed">
                  <a href="#"><i class="fa fa-money fa-lg"></i> My Cash Gift <span class="label label-danger">New</span> <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="cashgift">
                    <li class="active"><a href="#">Cash Gift Received</a></li>
                    <li><a href="#">Bank Account Details</a></li>
                </ul>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> My Recipient List</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-list fa-lg"></i>Transaction / Orders</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-chain fa-lg"></i> My Contributions</a>
                </li>


                <li data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> My Profile <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="profile">
                  <li>View / Edit Profile</li>
                  <li>Change Password</li>
                  
                </ul>

                 <li>
                  <a href="#">
                  <i class="fa fa-sign-out fa-lg"></i> Sign Out
                  </a>
                  </li>

                 
            </ul>
     </div>
</div>
<!--Eof original sidebar-->
</div><!-- Right Column-->
<div class="col-md-9">
<div class="dashboard-header">MY SURPRISE BOX</div>
<div class="allrows">
 <p class="text-muted">Enjoy the gifts received. If you have any questions, please feel free to <a href="contact.html">contact us</a>.</p>
<table class="table table-condensed">
              <thead>
                                    <tr>
                                        <th>Order</td>
                                        <th>Date</td>
                                        <th>Total</td>
                                        <th>Status</td>
                                        <th>Action</td>
                                    </tr>
              </thead>
              <tbody>
                                    <tr>
                                        <td># 1735 : Data From my WISHLIST NAME eg : <a href="mywishlistname"> My Birthday
                                        Wishlist</a> - from <a href="friendprofile">Friend's Name</a><td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-info">Processing</span>
                                        </td>
                                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : Data From my WISHLIST NAME eg : <a href="mywishlistname"> My Birthday
                                        Wishlist</a> - from <a href="friendprofile">Friend's Name</a></td>
                                      <td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-info">Processing</span>
                                        </td>
                                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : Gift bought by/ from <a href="friendprofile">Friend's Name</a>
                                      <td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-success">Received</span>
                                        </td>
                                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : Gift bought by/from a <a href="friendprofile">Friend's Name</a>
                                      <td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-success">Received</span>
                                        </td>
                                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : Data From my WISHLIST NAME eg,<a href="#myweddinglistname"> My Wedding Wishlist</a> - from all <a href="friendprofile">Friend's Name</a> , <a href="friendprofile">Friend's Name</a>, <a href="friendprofile">Friend's Name</a>, <a href="friendprofile">Friend's Name</a></td>
                                       
                                          
                                      ( if buy with contribution)<td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-success">Received</span>
                                        </td>
                                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a>
                                        </td>
                                    </tr>
              </tbody>
            </table>
 

   

</div><!--eof allrows-->
</div><!--eof infobox for Dashboard-->


</div><!--Eof Right Column-->
</div>
            
            </div><!--container White-->
        </div><!--content-->    
    <!-- /all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
<!--Script Form-->







</body>

</html>