<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<!-- *** NAVBAR END *** -->

 <div id="all">
        <div id="content">
            <div class="container white">
            <div class="row">
<!--Side Bar-->  <div class="col-md-3 nopadding">
<!--Original sidebar-->
<div class="nav-side-menu">
    <div class="brand"><table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td width="85" align="left" valign="middle"><img src="img/detailsquare.jpg" width="80" class="img-circle img-responsive userphoto"></td>
    <td align="left" valign="middle"> Hello, <strong>First Last Name</strong>    
</td>
  </tr>
</table></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-pencil fa-lg"></i> Create Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-heart fa-lg"></i> My Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-calendar fa-lg"></i>Event Reminder</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-gift fa-lg"></i> My Surprise Box <span class="label label-danger">New</span></a>
                  </li>
                  
                  
                  <li data-toggle="collapse" data-target="#cashgift" class="collapsed active">
                  <a href="#"><i class="fa fa-money fa-lg"></i> My Cash Gift <span class="label label-danger">New</span> <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="cashgift">
                    <li class="active"><a href="#">Cash Gift Received</a></li>
                    <li><a href="#">Bank Account Details</a></li>
                </ul>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> My Recipient List</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-list fa-lg"></i>Transaction / Orders</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-chain fa-lg"></i> My Contributions</a>
                </li>


                <li data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> My Profile <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="profile">
                  <li>View / Edit Profile</li>
                  <li>Change Password</li>
                  
                </ul>

                 <li>
                  <a href="#">
                  <i class="fa fa-sign-out fa-lg"></i> Sign Out
                  </a>
                  </li>

                 
            </ul>
     </div>
</div>
<!--Eof original sidebar-->
</div><!-- Right Column-->
<div class="col-md-9">
<div class="dashboard-header">MY PROFILE</div>
<div class="linerows">
<div class="row">
  <div class="col-xs-6 col-md-4"><img src="img/detailsquare3.jpg" class="img-thumbnail"> When click, change/ upload user profile photo</div>
  <div class="col-xs-12 col-md-8">
  
<div class="listform form-horizontal">
<label for="Account_Name">First Name</label>
<div class="input-group">
  <input name="First Name" type="text" id="First Name" value="First Name - Mel" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->
  
<div class="listform form-horizontal">
<label for="Account_Name">Last Name</label>
<div class="input-group">
  <input name="First Name" type="text" id="First Name" value="Last Name - Gunawan" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Email</label>
<div class="input-group">
  <input name="First Name" type="text" id="First Name" value="Email - test@gmail.com" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->
<div class="listform form-horizontal">
<label for="Account_Name">Mobile #</label>
<div class="input-group">
  <input name="Mobile" type="text" id="Mobile" value="Mobile +62 xxx..." maxlength="50" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Date of Birth</label>
<div class="input-group">
  
  <--insert calendar --->             
</div></div><!--eof listform-->

</div>
</div><!--eof row-->
<hr>
<!--Social media-->
<h4>Social Media</h4>

<div class="input-group listform">
  <span class="input-group-addon" id="fb">https://www.facebook.com/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="fb">
</div>
<div class="input-group listform">
  <span class="input-group-addon" id="ig">https://www.instagram.com/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="ig">
</div>
<div class="input-group listform">
  <span class="input-group-addon" id="twitter">https://twitter.com/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="titter">
</div>
<!--EOF Social media-->
<hr>

<div class="linerows">
<h4>Shipping Address</h4>


<div class="listform form-horizontal">
<label for="Account_Name">Address</label>
<div class="input-group">
  <input name="Address" type="text" id="Address" value="Address" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Address Line 2</label>
<div class="input-group">
  <input name="Address2" type="text" id="Address2" value="Address Line 2" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Kecamatan</label>
<div class="input-group">
  <input name="Kecamatan" type="text" id="Kecamatan" value="Kecamatan" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

<div class="row">

<div class="listform form-horizontal col-md-6">
<label for="Account_Name">Kecamatan</label>
<div class="input-group">
 <select name="City" id="City" class="form-control"><option value="" selected> --- City --- </option><option value="1507">Aceh</option><option value="1508">Bali</option><option value="1509">Banten</option><option value="1510">Bengkulu</option><option value="1511">BoDeTaBek</option><option value="1512">Gorontalo</option><option value="1513">Jakarta Raya</option><option value="1514">Jambi</option><option value="1515">Jawa Barat</option><option value="1516">Jawa Tengah</option><option value="1517">Jawa Timur</option><option value="1518">Kalimantan Barat</option><option value="1519">Kalimantan Selatan</option><option value="1520">Kalimantan Tengah</option><option value="1521">Kalimantan Timur</option><option value="1522">Kepulauan Bangka Belitung</option><option value="1523">Lampung</option><option value="1524">Maluku</option><option value="1525">Maluku Utara</option><option value="1526">Nusa Tenggara Barat</option><option value="1527">Nusa Tenggara Timur</option><option value="1528">Papua</option><option value="1529">Riau</option><option value="1530">Sulawesi Selatan</option><option value="1531">Sulawesi Tengah</option><option value="1532">Sulawesi Tenggara</option><option value="1533">Sulawesi Utara</option><option value="1534">Sumatera Barat</option><option value="1535">Sumatera Selatan</option><option value="1536">Sumatera Utara</option><option value="1537">Yogyakarta</option></select>                
</div></div><!--eof listform-->

<div class="listform form-horizontal col-md-6">
<label for="Account_Name">Post Code</label>
<div class="input-group">
  <input name="Postcode" type="text" id="Postcode" value="Postcode" size="10" class="form-control"> 
  <span class="input-group-btn">
   <button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button>
   </span>                
</div></div><!--eof listform-->

</div>

</div><!--eof Row-->

</div><!--eof allrows-->
</div><!--eof infobox for Dashboard-->


</div><!--Eof Right Column-->
</div>
            
            </div><!--container White-->
        </div><!--content-->    
    <!-- /all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
<!--Script Form-->







</body>

</html>