<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<!-- *** NAVBAR END *** -->

 <div id="all">
        <div id="content">
            <div class="container white">
            <div class="row">
<!--Side Bar-->  <div class="col-md-3 nopadding">
<!--Original sidebar-->
<div class="nav-side-menu">
    <div class="brand"><table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td width="85" align="left" valign="middle"><img src="img/detailsquare.jpg" width="80" class="img-circle img-responsive userphoto"></td>
    <td align="left" valign="middle"> Hello, <strong>First Last Name</strong>    
</td>
  </tr>
</table></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li class="active">
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-pencil fa-lg"></i> Create Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-heart fa-lg"></i> My Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-calendar fa-lg"></i>Event Reminder</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-gift fa-lg"></i> My Surprise Box <span class="label label-danger">New</span></a>
                  </li>
                  
                  
                  <li  data-toggle="collapse" data-target="#cashgift" class="collapsed">
                  <a href="#"><i class="fa fa-money fa-lg"></i> My Cash Gift <span class="label label-danger">New</span> <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="cashgift">
                    <li class="active"><a href="#">Cash Gift Received</a></li>
                    <li><a href="#">Bank Account Details</a></li>
                </ul>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> My Recipient List</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-list fa-lg"></i>Transaction / Orders</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-chain fa-lg"></i> My Contributions</a>
                </li>


                <li data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> My Profile <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="profile">
                  <li>View / Edit Profile</li>
                  <li>Change Password</li>
                  
                </ul>

                 <li>
                  <a href="#">
                  <i class="fa fa-sign-out fa-lg"></i> Sign Out
                  </a>
                  </li>

                 
            </ul>
     </div>
</div>
<!--Eof original sidebar-->
</div><!-- Right Column-->
<div class="col-md-9">
<div class="infobox">
<h3>What Would You Like To Do ?</h3>


  <div class="col-xs-6 col-sm-3"><div class="dashbutton"><a href=""><div class="dashbutton-icon"><i class="fa fa-pencil" aria-hidden="true"></i></div>CREATE WISHLIST</a></div></div>
  <div class="col-xs-6 col-sm-3"><div class="dashbutton"><a href=""><div class="dashbutton-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>MY WISHLIST</a></div></div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-3"><div class="dashbutton"><a href=""><div class="dashbutton-icon"><i class="fa fa-search-plus" aria-hidden="true"></i></div>FIND WISHLIST</a></div></div>
  <div class="col-xs-6 col-sm-3"><div class="dashbutton"><a href=""><div class="dashbutton-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>BROWSE CATALOG</a></div></div>
  


<span class="clearfix"></span>
<div class="allrows">

      <div class="panel panel-ipengen">
  <div class="panel-heading">
    <span class="panel-title"><i class="fa fa-clock-o" aria-hidden="true"></i> Notifications</span>
  </div>
  <div class="newspanel">
  <ul class="list-group">
            <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 24/08/2016 14:44:44</small><br><a href="#">Denny Peh</a> bought you a gift from your wishlist : <a href="#">Birthday Wishlist</a> &nbsp;<button type="submit" class="btn btn-info btn-xs"><i class="fa fa-gift" aria-hidden="true"></i> View Gift</button></li>
        <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 24/08/2016 14:41:55</small><br><a href="#">Marie Fabreguettes</a> added your Wishlist : <a href="#">My Birthday Party 2017</a> to Recipient List.
      </li>
        <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 24/08/2016 11:31:31</small><br><a href="#">Rizky Perkasa</a> requested to view your wishlist : <a href="#">Wedding April 2017</a>  &nbsp;<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Approve</button>  &nbsp;<button type="submit" class="btn btn-default btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Delete Request</button>
      </li>
        <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 24/08/2016 02:51:33</small> <span class="label label-default">Transfer</span><br><a href="#">antonius prasitius</a> Transfer <a href="#"> Bachelor Party Girls</a> wishlist to you <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>  &nbsp;<button type="submit" class="btn btn-default btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Reject</button>
      </li>
        <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 23/08/2016 21:12:39</small> <span class="label label-danger">Contribution</span><br><a href="#">Muhamad Sridipo</a> invited you to contribute <a href="#">Nespresso VertuoLine Evoluo Deluxe Coffee & Espresso Maker</a> in wishlist : <a href="#">Alvina & Ricky Wedding</a>.
      </li>
      <li class="list-group-item"><small class="text-muted"><i class="fa fa-clock-o"></i> 23/08/2016 21:12:39</small><br>You Contributed cash gift : Rp 200,000 to <a href="#">Ricky Hardjanto</a>'s Wishlist:  <a href="#">Ricky's Bachelor Party</a>.
      </li>
          </ul>
</div>
</div>
</div>
   
<div class="allrows">
      <div class="panel panel-ipengen">
  <div class="panel-heading">
    <span class="panel-title"><i class="fa fa-heart" aria-hidden="true"></i> Your Wishlist</span>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed ">
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>Wishlist Name</td>                  
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
                        <tr>
          <td><a href="#wishlist"><img src="img/13669615_10154413527878035_2676960349288332534_n.jpg" class="img-rounded img-responsive userphoto"></a></td>
          <td>
          <div class="listform"><a href="#wishlist">Mel's Birthday 2017</a></div>
          <div class="listform">Created : <strong>10/08/2017</strong> , End : <span class="text-danger"><strong>30/08/2017</strong></span></div>
          <div class="listform">Privacy : <span class="text-danger">Public</span> &nbsp;<button type="submit" class="btn btn-xs btn-success" role="button" data-toggle="collapse" href="#Privacy" aria-expanded="false" aria-controls="Privacy">Change privacy</button>

<div class="collapse" id="Privacy">
<div class="alert alert-info" role="alert">
<div class="checkbox">
<label>
<input name="Wishlist Privacy" type="checkbox"  value="public" checked> Public
</label></div>

<div class="checkbox">
<label>  
<input name="Visitor Password" type="checkbox" value="public"><i class="fa fa-lock" aria-hidden="true"></i> Private</label><br>
<div class="col-xs-12 col-md-6 listform"><input name="visitor password" type="text" value="Password" maxlength="15" class="form-control"><span class="text-danger"> * <em>max. 15 chars </em> </span></div>
</label>
</div>
<p class="text-right"><button type="button" class="btn btn-primary">Save Privacy</button></p>
</div>
</div>
</div>

<div class="listform"><a class="btn btn-warning btn-xs" role="button" data-toggle="collapse" href="#transferEmail" aria-expanded="false" aria-controls="transferEmail">
<i class="fa fa-exchange" aria-hidden="true"></i> Transfer to a friend
</a>
<div class="collapse" id="transferEmail">
<div class="alert alert-warning" role="alert">
<div class="col-xs-12 col-md-6 listform"><input type="text" value="Enter valid Email Address" class="form-control"></div> <button type="submit" class="btn btn-info">Transfer</button>
</div>
</div>
</div>

 </td>
          
<td><div class="listform"><a href="#" data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="View">View</a> </div>
 <div class="listform"><a href="#" data-toggle="tooltip" title="" class="btn btn-primary btn-xs" data-original-title="Edit">Edit</a></div> 
</td>
        </tr>
                <tr>
          <td><a href="#wishlist"><img src="img/13912729_10154458996988035_4150869453462429502_n.jpg" class="img-rounded img-responsive userphoto"></a></td>
          <td class="wishlisttable"><div class="listform"><a href="#wishlist">Mel & Elon Musk Wedding</a></div>
          <div class="listform">Created : <strong>10/08/2017</strong> , End : <span class="text-danger"><strong>16/08/2017</strong></span></div>
          <div class="listform">Privacy : <span class="text-danger">Private</span> &nbsp;<button type="submit" class="btn btn-xs btn-success" role="button" data-toggle="collapse" href="#Privacy2" aria-expanded="false" aria-controls="Privacy2">Change privacy</button>

<div class="collapse" id="Privacy2">
<div class="alert alert-info" role="alert">
<div class="checkbox">
<label>
<input name="Wishlist Privacy" type="checkbox"  value="public" checked> Public
</label></div>

<div class="checkbox">
<label>  
<input name="Visitor Password" type="checkbox" value="public"><i class="fa fa-lock" aria-hidden="true"></i> Private</label><br>
<div class="col-xs-12 col-md-6 listform"><input name="visitor password" type="text" value="Password" maxlength="15" class="form-control"><span class="text-danger"> * <em>max. 15 chars </em> </span></div>
</label>
</div>
<p class="text-right"><button type="button" class="btn btn-primary">Save Privacy</button></p>
</div>
</div>
</div>

<div class="listform"><a class="btn btn-warning btn-xs" role="button" data-toggle="collapse" href="#transferEmail2" aria-expanded="false" aria-controls="transferEmail2">
<i class="fa fa-exchange" aria-hidden="true"></i> Transfer to a friend
</a>
<div class="collapse" id="transferEmail2">
<div class="alert alert-warning" role="alert">
<div class="col-xs-12 col-md-6 listform"><input type="text" value="Enter valid Email Address" class="form-control"></div> <button type="submit" class="btn btn-info">Transfer</button>
</div>
</div>
</div>
 </td> 
          <td><div class="listform"><a href="#" data-toggle="tooltip" title="" class="btn btn-info btn-xs" data-original-title="View">View</a> </div>
 <div class="listform"><a href="#" data-toggle="tooltip" title="" class="btn btn-primary btn-xs" data-original-title="Edit">Edit</a></div> 
</td>
        </tr>
                      </tbody>
    </table>
  </div>
</div>
 </div>

</div><!--eof infobox for Dashboard-->


</div><!--Eof Right Column-->
</div>
            
            </div><!--container White-->
        </div><!--content-->    
    <!-- /all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>