<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Merchant Form
    </title>
    <meta name="keywords" content="">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.merchant.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link rel="shortcut icon" href="favicon.png">
</head>

<body>
 <div id="all">
 <div id="content">
 <div class="container white">
 <div class="row">
 <div class="col-md-9">
 <h3>Do you have interesting products ? Sell with Us !!</h3>
 <p>&nbsp;</p>
 <form class="form-horizontal">

<div class="form-group">
<label for="Company" class="col-sm-2 control-label">Company</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="Company" placeholder="Company Name">
</div>
</div><!--Eof Form Field-->

<div class="form-group">
<label for="Email" class="col-sm-2 control-label">Email</label>
<div class="col-sm-10">
<input type="email" class="form-control" id="Email" placeholder="Email">
</div>
</div><!--Eof Form Field-->

<div class="form-group">
<label for="Phone" class="col-sm-2 control-label">Phone</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="Phone" placeholder="Phone/Mobile #">
</div>
</div><!--Eof Form Field-->

<div class="form-group">
<label for="Website" class="col-sm-2 control-label">Website (Optional)</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="Website" placeholder="www.">
</div>
</div><!--Eof Form Field-->

<div class="form-group">
<label for="Brands" class="col-sm-2 control-label">Brands</label>
<div class="col-sm-10">
<textarea name="Brands" class="form-control" id="Brands">List all your brands</textarea> 
</div>
</div><!--Eof Form Field-->

<div class="form-group">
<label for="Description" class="col-sm-2 control-label">Description</label>
<div class="col-sm-10">
<textarea name="Description" class="form-control" id="Brands">Describe your brands, products and company</textarea> 
</div>
</div><!--Eof Form Field-->

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <button type="submit" class="btn btn-primary">Submit Application</button>
    </div>
  </div><!--Eof Button-->
  







</form><!--eof form-->
</div><!--eof col-md-9-->
</div><!--eof div Row-->
</div><!--eof div Container White-->
</div><!--eof div Content-->
</div><!--eof div All-->

</body>
</html>
