@charset "utf-8";
/* CSS Document */
  .switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px !important;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
}

