.bannerRow{ margin-bottom:0px; padding:0px; border-top:7px solid #4E4E4E; margin-top:30px; }
.bannerRow .container{ padding:0px 0px 30px; margin:0px; width:100%; max-width:none; }
.slide .span9{ margin-top:10px; }
.rowExt ul{ vertical-align:top; display:inline-block; width:100%; }
#back_to_camera {
			background: rgba(255,255,255,.9);
			clear: both;
			display: block;
			height: 40px;
			line-height: 40px;
			padding: 20px;
			position: relative;
			z-index: 1;
		}
		.fluid_container {
			bottom: 0;
			height: 100%;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 0;
		}
		.camera_bar {
			z-index: 2;
		}
		.camera_thumbs {
			margin-top: -100px;
			position: relative;
			z-index: 1;
		}
		.camera_thumbs_cont {
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
		}
		.camera_overlayer {
			opacity: .1;
		}
	.contentPos-left{position:absolute; left:10%; top:25%; width:35%; color:#fff; text-align:left; display:inline-block;}
    .contentPos-right{position:absolute; right:10%; top:25%; width:35%; color:#fff; text-align:left; display:inline-block;}
    .contentPos-center{position:absolute; left:50%; margin-left:-25%; top:25%; width:50%; color:#fff; text-align:center; display:inline-block;}	
	.camera_effected h2{
			color:#fff;
			font-size:48px;
			font-weight:normal;
			font-family:"Times New Roman", Times, serif;
			display:inline-block;
			line-height:60px;
			text-transform:uppercase;
			padding:2px 30px;
			background:#333;
			background:rgba(0,0,0,0.7);
			margin-bottom:20px;
	}
	.span9 .camera_effected h2{ font-size:48px; line-height:48px; }
	.camera_effected p{
			color:#fff;
			font-size:14px;
			line-height:20px;
			font-weight:400;
			margin:0px;
			text-shadow:1px 1px 3px rgba(0,0,0,0.7);
	}
	.camera_effected .bannerButton{
			color: #FFFFFF;
			font-size:14px;
			padding:10px 20px;
			text-decoration:none;
			cursor:pointer;
			background:#c11111;
			margin:20px 0 0 0;
			display:inline-block;
			font-weight:400;
	}	