pre {
	clear: none;
}
div.showCode {
	margin-left: 8em;
}
.tabs {
	margin-top: 0em;
}
.ui-tabs { 
    padding: 0.2em; 
    background: url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top #F5F3E5; 
    border-width: 1px; 
} 
.ui-tabs .ui-tabs-nav { 
    padding-left: 0.2em; 
    scroll 50% 50% #ECE8DA; 
    border: 1px solid #D4CCB0;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px; 
} 
.ui-tabs-nav .ui-state-active {
	border-color: #D4CCB0;
}
.ui-tabs .ui-tabs-panel { 
    background: transparent; 
    border-width: 0px; 
}
.ui-tabs-panel p {
	margin-top: 0em;
}
.ui-tabs-panel pre.showCode span {
	margin-left: 0em;
}
#minImage {
	margin-left: 6.5em;
}
#minImage img {
	padding: 2px;
	border: 2px solid #448844;
	vertical-align: bottom;
}

#tabs-nobg {
	padding: 0px;
}
#tabs-nobg .ui-tabs-nav {
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-nobg .ui-tabs-panel {
	margin: 0em 0.2em 0.2em 0.2em;
}

#tabs-nohdr {
	padding: 0px;
	background: none;
	border-width: 0px;
}
#tabs-nohdr .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-nohdr .ui-tabs-panel {
	
	border-width: 0px 1px 1px 1px;
}

#tabs-min {
	background: transparent;
	border: none;
}
#tabs-min .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-min .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}
#tabs-min .ui-tabs-nav .ui-state-active {
	background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center;
	border: none;
}
#tabs-min .ui-tabs-nav .ui-state-default a {
	color: #000;
	font-size: 14px;
    font-weight: bold;
	text-transform:uppercase;
}
#tabs-min .ui-tabs-nav .ui-state-active a {
	color: #000;
}

#tabs-smaller .ui-tabs-nav li {
	margin-top: 0.6em;
	font-size: 80%;
}
#tabs-smaller .ui-tabs-nav li.ui-tabs-selected,
#tabs-smaller .ui-tabs-nav li.ui-state-active {
	margin-top: 0em;
	font-size: 100%;
}

#tabs-icons .ui-tabs-nav .ui-icon {
	display: inline-block;
}

#tabs-buttons .ui-tabs-nav {
	padding: 0em;
	background: transparent;
	border-width: 0px;
}
#tabs-buttons .ui-tabs-nav li {
	position: static;
	margin: 0px;
	border-bottom: 1px solid #327e04 !important;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-buttons .ui-tabs-nav li:first-child {
	-moz-border-radius: 6px 0px 0px 6px;
	-webkit-border-radius: 6px 0px 0px 6px;
	border-radius: 6px 0px 0px 6px;
}
#tabs-buttons .ui-tabs-nav li:last-child {
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
}
#tabs-buttons .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0px;
	border-bottom: 1px solid #d4ccb0 !important;
}

#tabs-centre .ui-tabs-nav {
	height: 2.35em;
	text-align: center;
}
#tabs-centre .ui-tabs-nav li {
	display: inline-block;
	float: none;
	top: 0px;
	margin: 0em;
	padding-bottom: 0px;
}

#tabs-to-right .ui-tabs-nav {
	float: right;
	border-left: none;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
}
#tabs-to-right .tabs-background {
	height: 2.6em;
	
	border: 1px solid #d4ccb0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#tabs-bottom {
	position: relative;
	padding-bottom: 3em;
}
#tabs-bottom .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	right: 0.25em;
	bottom: 0.25em;
	padding: 0em 0.2em 0.2em;
}
#tabs-bottom .ui-tabs-nav li {
	top: -1px;
	border-top: none;
	border-bottom: 1px solid #ccc !important;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#tabs-left {
	position: relative;
	padding-left: 6.5em;
}
#tabs-left .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 6em;
	padding: 0.2em 0 0.2em 0.2em;
}
#tabs-left .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}
#tabs-left .ui-tabs-nav li.ui-tabs-selected,
#tabs-left .ui-tabs-nav li.ui-state-active {
	border-right: 1px solid transparent;
}
#tabs-left .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}
#tabs-left .ui-tabs-panel {
	height: 40em;
}

#tabs-left-vertical .ui-tabs-nav {
	position: absolute;
	width: 21em;
	transform: translate(-100%,0%) rotate(-90deg);
	transform-origin: 100% 0%;
}
#tabs-left-vertical .ui-tabs-nav li {
	float: right;
}
#tabs-left-vertical .ui-tabs-panel {
	padding-left: 3.5em;
}
#tabs-left-vertical .ui-tabs-panel {
	height: 20em;
}

#tabs-right {
	position: relative;
	padding-right: 6.5em;
}
#tabs-right .ui-tabs-nav {
	position: absolute;
	right: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 6em;
	padding: 0.2em 0.2em 0.2em 0em;
}
#tabs-right .ui-tabs-nav li {
	width: 100%;
	border-left: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	overflow: hidden;
}
#tabs-right .ui-tabs-nav li.ui-tabs-selected,
#tabs-right .ui-tabs-nav li.ui-state-active {
	left: -1px;
	border-left: 1px solid transparent;
}
#tabs-right .ui-tabs-nav li a {
	width: 100%;
}
#tabs-right .ui-tabs-panel {
	height: 38em;
}

#tabs-right-vertical .ui-tabs-nav {
	position: absolute;
	right: 0.2em;
	width: 19em;
	transform: rotate(90deg) translate(19.6em,0em);
	transform-origin: 100% 0%;
}
#tabs-right-vertical .ui-tabs-panel {
	padding-right: 3.5em;
}
#tabs-right-vertical .ui-tabs-panel {
	height: 18em;
}

#tabs-nested > .ui-tabs-panel {
	padding: 0em;
}
#tabs-nested-left {
	position: relative;
	padding-left: 6.5em;
}
#tabs-nested-left .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 6em;
	padding: 0.2em 0 0.2em 0.2em;
}
#tabs-nested-left .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}
#tabs-nested-left .ui-tabs-nav li.ui-tabs-selected,
#tabs-nested-left .ui-tabs-nav li.ui-state-active {
	border-right: 1px solid transparent;
}
#tabs-nested-left .ui-tabs-nav li a {
	float: right;
	width: 100%;
	text-align: right;
}
#tabs-nested-left > div {
	height: 10em;
	overflow: auto;
}

#tabs-one-line .scroller {
	overflow: auto;
}
#tabs-one-line ul {
	width: 1660px;
}
#tabs-min li{ color:#333; padding:5px 10px; display:inline-block }
#tabs-min ol li a{ color:#000; text-transform:uppercase;font-size:14px;}
.bordertopbottom { border-top:2px solid #000; }
.filterby { border-bottom:2px solid #000; color:#000; font-size:16px; text-transform:uppercase; }