@charset "utf-8";
/* CSS Document */
.modyfi-nav {
    background: #d5c067 none repeat scroll 0 0;
    border: 2px solid transparent;
    padding: 15px 0;
    text-align: center;
    width: 200px;
	border-image:url(../images/nav-border.jpg) 1 round ;
	
	 
}
.container .breadcrumbs {
    padding: 0;
}
.magicat-container .block > ul#magicat {
    border: 1px solid #000;
    margin: 0;
	padding: 5px 0 5px 10px;
}
.magicat-container .block > ul#magicat {
    border: 1px solid #000;
    margin: 0;
    width: 200px;
}
.right-nav-modify li{width:80% !important;border-bottom:1px solid #eee;padding: 10px 0 !important;}
.magicat-cat > a{background: none}
.right-nav-modify li::before{content:url(../images/nav-icon.png);position:absolute;z-index:1; }
ul#magicat li a::before {
    color: #fff !important;
   
}
.right-nav-modify{position:relative}
.magicat-cat {
    padding-left: 5px;
}

.fa-modify{font-size:17px;color:#000;padding:2px 0px 0px 10px;}