#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index:9999;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index:9999;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	background:url(../images/camera-loader.gif) no-repeat center center;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
	
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top:5px;
	right:5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1103;
	display: none;
	background:#fff;
	color:#000;
	line-height:30px;
	text-align:center;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom:5px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	outline: none;
	z-index: 9999;
	background:#fff;
	color:#000;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}

#fancybox-left {
	right:40px;
}

#fancybox-right {
	right:5px;
}

#fancybox-left-ico, #fancybox-right-ico {
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 30px;
    z-index: 1102;
}



#fancybox-left:hover, #fancybox-right:hover {
	background:#c11111;
	color:#fff;
}



.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width:10px;
	height:10px;
	z-index: 1001;
	background:#fff;
}

#fancybox-bg-n {
	top: -10px;
	left: 0;
	width: 100%;
}

#fancybox-bg-ne {
	top: -10px;
	right: -10px;
}

#fancybox-bg-e {
	top: 0;
	right: -10px;
	height: 100%;
}

#fancybox-bg-se {
	bottom: -10px;
	right: -10px;
}

#fancybox-bg-s {
	bottom: -10px;
	left: 0;
	width: 100%;
}

#fancybox-bg-sw {
	bottom: -10px;
	left: -10px;
}

#fancybox-bg-w {
	top: 0;
	left: -10px;
	height: 100%;
}

#fancybox-bg-nw {
	top: -10px;
	left: -10px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
    display: block;
    padding: 10px 3%;
    width:85%;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
}