.magicat-container {
}
ul#magicat a {
	color:#353535;
	line-height: 12px;
	text-decoration: none;
}
ul#magicat li {
	padding:5px 0px;
	width:100%;
}
ul#magicat li a { padding-left:18px; position:relative;}
ul#magicat li a:before { position:absolute; left:0px; top:2px; font-size:14px; color:#666; }
ul#magicat li a:hover {
}
ul#magicat li ul {
	float:left;
	padding-bottom:8px;
	width:100%;
}
ul#magicat li ul li {
	float:left;
	padding:5px 0 0px 20px;
}
ul#magicat li ul li a {
	background: none repeat scroll 0 50% transparent;
	border-bottom: 1px solid #F5F5F5;
	color: #AAAAAA !important;
	float: left;
	font-size: 11px;
	font-weight: normal;
	padding:0px 0px 2px 0px;
	width: 92%;
}
ul#magicat li ul li ul li {
	float:left;
	padding:0px;
}
ul#magicat li ul li ul li a {
	border-bottom: 0 none;
	color: #222222 !important;
	font-size: 10px;
	font-weight: normal !important;
	line-height: 15px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: auto;
}
ul#magicat li span.magicat-cat a span:hover, ul#magicat li.active span.magicat-cat a span {

}
#magicat {
    color: #404040;
    font-size: 12px;
    margin: 2px 0 0px;
    padding:5px 2px 0px 17px;
}
.magicat-container .block .block-title {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    margin: 0;
}
.block .block-title.cat_heading strong{ background:#c11111; }
.magicat-container .block{}
.block-title.cat_heading {
	color: #000;
	padding:0px 0px 8px;
	text-align:left;
	border:none;
	border-bottom:1px solid #000;
}
.block-title.cat_heading strong span {
}
