.mix_container {
    position: relative;
}
.std .itemInner .minimal-price{ margin-bottom:0px }
.itemInner{ box-shadow:0px 0px 2px rgba(0,0,0,0.2); padding-bottom:10px; position:relative; }
.sec-view-inner{ box-shadow:none; padding-bottom:0px; overflow:hidden; }
.itemInner .btn-right{ position:absolute; bottom:-50px; right:5px; z-index:99; }
.item:hover .itemInner .btn-right{ bottom:5px; }

.itemInner .btn-right a.link-wishlist, .itemInner .btn-right a.compareR,
.itemInner .btn-right .quick_view{ color: #fff; text-decoration:none; float:right; display:inline-block; line-height:36px;	background:#000; width:36px; height:36px; text-align:center; margin-left:1px; font-size:12px; position:static; }
.span6 .col-main .itemInner .btn-right a.link-wishlist, .span6 .col-main .itemInner .btn-right a.compareR, .span6 .col-main .itemInner .btn-right .quick_view{ width:30px; height:30px; line-height:30px; }
.item .product-name{ text-align:center; font-size:13px; font-weight:400; display:block; margin-top:10px; padding:0px 10px 3px;overflow:hidden; }
.header_cart .item .product-name{ text-align:left; padding:0px; }
.block-content .item .product-name{ text-align:left; padding:0px; margin:0px; }
.block-reorder .block-content .item .product-name{ padding-left:20px; }
.products-list .item .product-name{ padding:0px; text-align:left; }
.products-list .ratings, .products-list .item .price-box{ text-align:left; }
.item .box2 .product-name{ margin-bottom:0px; }
.item .box2 .product-name, .item .box2 .price-box{ }
.item .price-box{ text-align:center; margin:0px; }
.item .regular-price .price,
.item .price-box .price, .item .minimal-price .price-label{ font-size:15px; color:#c11111; font-weight:400; }
.item .special-price .price{ color:#101010; }
.item .minimal-price-link .price{ color:#303030; }
.itemInner .minimal-price .price-label{ color:#444; font-weight:400; font-size:14px; }
.bottomBox{ padding:10px 6px; margin:10px 0px 0px; text-align:left; display:inline-block; width:100%; border:1px solid #dfdfdf; background:#fafafa; }
.bottomBox2{ padding:0px;text-align:center; border:0px none; background:none; }
.bottomBox2 button.button span span{ padding:14px 28px; font-size:13px; }
div .bottomBox2 .btn{ padding:12px 28px; font-size:13px; }
.products-grid .bottomBox2{ margin-bottom:20px; }
.std .addBox2, .item .addBox2{ display:inline-block; width:100%; margin:0px; vertical-align:top; }
.mix_nav {
	height: 74px;
	position: absolute;
	right: 0;
	top: 75px;
	width: 100%;
	z-index:0;
}
.bottomBox > .button, .bottomBox > a.btn{ float:left; }
.buttonox-center a{ font-size:14px; }
.addtobox{ float:right; }
.mix_wrapper .jcarousel-prev, .mix_wrapper .jcarousel-next, .slider-box .viewAll, .nextPre .prod-prev, .nextPre .prod-next{
    background-color: #101010;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 25px;
    outline: medium none;
    -moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	transition: all 400ms ease-in-out 0s;
 	width:25px;
    z-index: 1;
	color:#fff;
	text-align:center;
	text-decoration:none;
	margin-left:1px;
	float:right;
	line-height:24px;
}
.product_right .customNavigation{ float:left; width:100%; text-align:center; padding:10px 0px 0px; }
.product_right .customNavigation .jcarousel-next{ display:inline-block; float:none; }
.slider-box .viewAll { position:absolute; top:18px; right:0px; }
.sliderNab {
    height: 25px;
    position: absolute;
    right:0px;
    top: -59px;
    width: 60px;
}
.mix_wrapper ul{padding:0px;}

.mix_wrapper .jcarousel-prev.jcarousel-prev-disabled-horizontal { background-position:left top; }
.newProducts .seb1 .no-rating,.std .owl-carousel p.no-rating, .products-grid .item .seb1 .no-rating{ margin:7px 0px 0px; display:inline-block; }
.newProducts .ratings .rating-links .separator, .newProducts .ratings .rating-links .add_review,
.products-grid .ratings .rating-links .separator, .products-grid .ratings .rating-links .add_review{ display:none; }
.col-wrapper.span6 .addBox2, .item .buttonox{ text-align:center; }
.item .buttonox .button, .item .buttonox .btn{ float:left;  }
.item .bottomBox2 .buttonox .button, .item .bottomBox2 .buttonox .btn{ float:none;  }
.col-wrapper.span6 .addBox2 li, .col-wrapper.span6 .addBox2 li.compareR2, .col-wrapper.span6 .item .buttonox .button{ float:none; display:inline-block; }
.col-wrapper.span6 .btn-right{ display:inline-block; }
.col-wrapper.span6 .buttonox, .col-wrapper.span6 .bottomBox, .col-wrapper.span6 .bottomBox,
.span9 .std .item .bottomBox { text-align:center; }
.span9 .std .item .bottomBox .btn-right{ display:inline-block; }
.col-wrapper.span6 .buttonox .button, .col-wrapper.span6 .bottomBox .button, .col-wrapper.span6 .bottomBox .fancybox,
.span9 .std .item .bottomBox .button, .span9 .std .item .bottomBox a.btn
{ margin-bottom:5px; float:none; display:inline-block; vertical-align:top; }
.col-wrapper.span6 .bottomBox .button span span{ padding:10px 12px; }
.col-wrapper.span6 .bottomBox .btn { padding:8px 12px; }
.col-wrapper.span6 .bottomBox .button i, .col-wrapper.span6 .bottomBox .btn i{ display:none; }
.col-wrapper.span6 .buttonox .compareR , .col-wrapper.span6 .bottomBox .compareR,
.col-wrapper.span6 .buttonox .link-wishlist, .col-wrapper.span6 .bottomBox .link-wishlist{ float:none; }
.mix_wrapper .jcarousel-next:hover ,
.mix_wrapper .jcarousel-prev:hover { background-color:#333; }
.mix_nav span:hover{ opacity:1.0; }
.mix_wrapper .jcarousel-clip { overflow:hidden; }
.mix_wrapper { position:relative; margin:0px auto; }
.mix_wrapper .mix_inner, .mix_wrapper .brandbox .brandlogo{ overflow:hidden; }
.mix_wrapper ul li, .newProducts li, .owl-wrapper .owl-item .item{
    float: left;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    text-decoration: none;
	padding:10px;
	list-style-type:none;
}
.owl-wrapper .owl-item .item{ width:100%; }
.owl-wrapper .owl-item .secondViewInner, .newProducts li.secondViewInner .new-inner{ 
	 transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
    -ms-transition: all 500ms ease-in-out 0s;
    -o-transition: all 500ms ease-in-out 0s;
    -webkit-transition: all 500ms ease-in-out 0s;
	margin:20px; 
	padding:10px 0px;
	width:auto;
 }
.span6 .col-main .owl-wrapper .owl-item .secondViewInner,
.span9 .std .owl-wrapper .owl-item .secondViewInner{ width:80%; margin:20px 10%; padding:0px; }
.span6 .col-main .owl-wrapper .owl-item .secondViewInner:hover,
.span9 .std .owl-wrapper .owl-item .secondViewInner:hover{ margin:10px 5%; padding:10px 5%; width:90%; }
.owl-wrapper .owl-item .secondViewInner:hover, .newProducts li.secondViewInner:hover .new-inner{ box-shadow:0px 0px 10px rgba(0,0,0,0.2); padding:20px 10px; margin:10px; }

.mix_wrapper ul li ul li, .newProducts li ul li{ background:none; }
.newProducts li{ padding:10px 0px; }
.itemInner .quick_view{ position:absolute; right:0px; top:0px; background:#000; color:#fff; width:40px; height:40px; text-align:center; line-height:38px; z-index:99; }
ul.newProducts .spanNew{ margin:0px 1%; width:18%; }
.mix_wrapper ul li .buttonox-center a{ font-size:12px; text-transform:uppercase; vertical-align:super; }
.mix_wrapper ul li .buttonox-center a i{ font-size:13px; }
.mix_wrapper ul li .buttonox-center, .item .buttonox-center { }
.mix_wrapper ul li .addBox2 li, .item .addBox2 li { padding:0px 5px; margin-top:5px; height:18px; float:left; }
.mix_wrapper ul li .addBox2 li.compareR2, .item .addBox2 li.compareR2 { float:right; }
.brandBox ul li{ text-align:center; padding:30px 10px;  }
.mix_wrapper ul li a , .newProducts li .product-name a, .item .addBox2 li a{
    color: #000; text-decoration:none;
}
.mix_wrapper ul li a i{ font-style:normal; }
.mix_wrapper ul li a.link-wishlist, .mix_wrapper ul li a.compareR,
.bottomBox .link-wishlist, .bottomBox .compareR
{
    color: #fff; text-decoration:none;
	float:right; display:inline-block; line-height:34px;
	background:#c11111; width:35px; height:35px; text-align:center; margin-left:1px;
}
.bottomBox .link-wishlist:hover, .bottomBox .compareR:hover{ background:#101010; }
.span2 .bottomBox .link-wishlist, .span2 .bottomBox .compareR{ width:26px; }
.mix_wrapper ul li p.no-rating a{font-size:11px;}
.mix_wrapper ul li a img:hover {
	opacity:1.0;
}
.mix_wrapper ul li a.product-image {
}
.mix_wrapper ul li a.product-image img, .newProducts li .product-image img{ }
.mix_wrapper ul li a.product-image img.hoverImg{}
.mix_wrapper ul li:hover a.product-image img.hoverImg{bottom:0px; }
.mix_wrapper button.button span span {
	box-shadow:none;
}
.outer.box{position:relative;}
ul.newProducts{margin:0px; display:inline-block; width:100%;}
/* Specific style for the examples */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	text-align:center;
}
.owl-carousel .owl-wrapper-outer p{ margin:0px; font-size:12px; }
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	text-align:center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: empty 1ms both ease;
  -moz-animation: empty 1ms both ease;
  animation: empty 1ms both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}