@charset "utf-8";
/* CSS Document */

/********** < Navigation */
.nav-container { margin:0; padding-bottom:0; padding-top:0; position:relative; width:100%; }
#nav { display:inline-block; font-size:12px; margin:0 auto;	padding:0;}
#nav li ul.level0{ position:absolute; left:-9999px; top:54px; padding:20px 10px; width:100%; border-top:1px solid #2B2B2B; border-bottom:3px solid #C11111; background:#232323; background:rgba(1, 1, 1, 0.9); }
#nav li:hover ul.level0{ left:0px; }
#nav li ul.level0 li.level1{ padding:0px 10px; width:20%; float:left; }
#nav li ul.level0 li.level1 > a{ color:#000;  }
#nav li ul.level0 li.level1 a{ display:inline-block; width:100%; vertical-align:top; padding:7px 12px; }
#nav li ul.level0 li.level1 ul.level1{ margin-top:10px; display:inline-block; width:100%; vertical-align:top; }
#nav li ul.level0 li.level1 ul.level1 li{ display:inline-block; width:100%; vertical-align:top;padding:1px 0px 0px; }
#nav li ul.level0 li.level1 ul.level1 li a{ background:#333; background:rgba(0,0,0,0.5); color:#5f5f5f; }
#nav li ul.level0 li.level1 ul.level1 li a:hover{ background:#444; background:rgba(0,0,0,0.4); color:#4f4f4f; }
#nav li ul.level0 li.level1 ul.level1 li a span{ display:inline-block; padding-left:6px; }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 { }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li a{ background:#444; background:rgba(0,0,0,0.4); color:#6f6f6f; padding-left:23px; }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li a:hover{ background:#555; background:rgba(0,0,0,0.3); color:#6f6f6f; }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li.level3 ul.level3 li a{ background:#555; background:rgba(0,0,0,0.3); padding-left:35px; }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li.level3 ul.level3 li a:hover{ background:#666; background:rgba(0,0,0,0.2); }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li.level3 ul.level4 li a{ background:#666; background:rgba(0,0,0,0.2); padding-left:47px; }
#nav li ul.level0 li.level1 ul.level1 li.level2 ul.level2 li.level3 ul.level4 li a:hover{ background:#777; background:rgba(0,0,0,0.1); }