#menu li.home a {
}
#menu .sf-menu li.home > a:hover{ }
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	background:none;
	padding:0;
	margin:0;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			54px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			-15px;
	margin-left:      1px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			-15px;
	margin-left:      1px;
}

/*** DEMO SKIN ***/
.sf-menu {
	float: left;
}
.sf-menu a {
	font-family:arial, serif;
	font-size:14px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.sf-menu > li.parent:hover > a:before,.sf-menu a  {
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
}
.sf-menu a:hover {
	color:#58BAE9;
}
.sf-menu > li {
	margin-left:0px;
	padding:0;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
}
	.sf-menu > li.active > a { background:#c11111; color:#fff;
	}
	.sf-menu > li:first-child {
		margin-left:0;
	}
	.sf-menu > li:hover > a,
	.sf-menu > li.sfHover > a,
	.sf-menu > li.current-menu-item > a {
		background-color:#C11111;
		color:#fff;
	}
	.sf-menu > li > a:hover,
	.sf-menu > li.sfHover > a,
	.sf-menu > li.current-menu-item > a {
		color:#fff;
	}
.sf-menu li ul {
	width:100%;
	background-color:#373737;
	padding:10px 0px;
	border-bottom:3px solid #C11111;
	text-align:left;
}
.sf-menu li li:first-child,
.sf-menu li li.last:first-child {
}
.sf-menu li li:first-child a,
.sf-menu li li.last:first-child a {
}
.sf-menu li li.last:first-child .bottom {
	height:6px;
}
.sf-menu li li:first-child ul {
	top:0 !important;
}
	.sf-menu li li {
		clear:both;
	}
	.sf-menu li li.last {
	}
		.sf-menu li li a {
			display:block;
			min-height:10px;
			line-height:20px;
			font-size:12px;
			margin:0 5px;
			padding:10px;
			color:#999;
			text-shadow:none;
		}
		.sf-menu li li a:hover,
		.sf-menu li li.sfHover > a,
		.sf-menu li li.current-menu-item > a {
			color:#fff;
			background-color:#232323;
		}
.sf-menu li li li {
}
.sf-menu li li li:first-child a,
.sf-menu li li li.last:first-child a {
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.current-menu-item > a {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
	.sf-menu > li > a.sf-with-ul .middle {
		padding-right: 	1.25em;
	}
.sf-sub-indicator {
	position:	absolute;
	display:		block;
	right:			12px;
	top:			1.05em; /* IE6 only */
	width:			9px;
	height:			40px;
	/*text-indent: 	-999em;*/
	overflow:		hidden;
	background:		url(../images/menu-arr.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			1.4em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: 0  -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; top:.6em; }
.sf-menu ul a > .sf-sub-indicator { background-position:  -10px 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: 0 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background: url(../images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
.sf-menu > li.parent:hover > a:before  {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #c11111;
    bottom:-10px;
    box-shadow: none;
    content: "";
    display: inline-block;
    height: 5px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 0;
    z-index:100;
}